.courses-card{
    border-style: solid;
    border-color: red;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}
.title{
    display: flex;
flex-direction: row;
    justify-content: space-between;
}
.titlee{
    display: flex;
    flex-direction: column;
}
.new{
    display: flex;
    flex-direction: column;

}
.a{
    display: flex;
  align-items: center;
}

.star{
    padding: 20px;
}
.star:hover{
    background-color: red;
    cursor: pointer;
    border-radius: 50px;
    padding: 20px;
}